@import './config/reset.scss';
@import './config/mixin.scss';
@import './config/base.scss';

$theme-color: #1890ff;
.rz-time-fm-container {
  background-color: #f7f7fa;
  height: 100vh;
}

.rz-time-fm-content {
  padding: 0 rem(30);
}