@import './common.scss';

.rz-controll-bar {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: rem(120);
  padding: rem(30);
  justify-content: center;
  align-items: center;
  background-color: #ffffff;

  .controll-bar-item {
    flex: 1;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    position: relative;

    .bar-icon {
      font-size: rem(48);
    }
  }
  
}